<h1>Lista de Héroes</h1>
<%= link_to 'Añadir Héroe', new_hero_path, :id=> "button" %>

<table id='table-2'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Jugador</th>
      <th>Reputacion</th>
      <th>Nivel</th>
      <th>Sexo</th>
      <th>Cuerpo</th>
      <th>Mente</th>
      <th>Movimiento</th>
      <th>Personaje</th>
      <th>Oro</th>
      <th>Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @heros.each do |hero| %>
      <tr>
        <td><%= link_to hero.nombre, hero %></td>
        <td><%= hero.jugador %></td>
        <td><%= hero.reputacion %></td>
        <td><%= hero.nivel %></td>
        <td><%= hero.sexo ? image_tag("male.png", :id => "symbol") : image_tag("female.png", :id => "symbol") %></td>
        <td><%= hero.cuerpo %></td>
        <td><%= hero.mente %></td>
        <td><%= hero.movimiento %></td>
        <td><%= image_tag("#{hero.subclase.downcase}.png", :id => "symbol") %>
			<%= "#{hero.personaje} #{hero.subclase}" %></td>	
        <td><%= hero.oro %></td>
        <td><%= link_to image_tag("edit.png",   :id => "symbol") , edit_hero_path(hero) %>
        	<%= link_to image_tag("delete.png", :id => "symbol"), hero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
