<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @hero.nombre %>
</p>

<p>
  <strong>Jugador:</strong>
  <%= @hero.jugador %>
</p>

<p>
  <strong>Reputacion:</strong>
  <%= @hero.reputacion %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @hero.nivel %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @hero.sexo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @hero.cuerpo %>
</p>

<p>
  <strong>Mente:</strong>
  <%= @hero.mente %>
</p>

<p>
  <strong>Movimiento:</strong>
  <%= @hero.movimiento %>
</p>

<p>
  <strong>Personaje:</strong>
  <%= @hero.personaje %>
</p>

<p>
  <strong>Subclase:</strong>
  <%= @hero.subclase %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @hero.bio %>
</p>

<p>
  <strong>Oro:</strong>
  <%= @hero.oro %>
</p>

<%= link_to 'Edit', edit_hero_path(@hero) %> |
<%= link_to 'Back', heros_path %>
